:root{
    --roxo-texto-e-botao: #8470DB; 
    --branco-texto: #FFFFFF;
    --cor-fraca: #C0C0C0;
    --cor-de-fundo: #240F33;
    --fonte-unica: 'Inter';
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-unica);
    font-size: 16px;
    font-weight: 400;
}

.Principal{
    color: var(--branco-texto);
    background-image: url("img/Noxxy.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.conteiner{
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%; 
}

.conteiner_botao{
    background-color: var(--roxo-texto-e-botao);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-texto);
    text-decoration: none;
    display: block;
    text-align: center;
    text-decoration: none;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-texto);
}

.conteiner_aviso{
    font-size: 14px;
    color: var(--cor-fraca);
}